@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">An unexpected error has occured. The technical details follow:</h1>
    <h2 class="error">@Model.Exception.Message</h2>
    <p>@Model.Exception.StackTrace.ToString()</p>
</hgroup>
