<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="dbhost" value="localhost" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="dbname" value="patientportal" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="sitename" value="default" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  
  
  <system.web>
    <membership>
      <providers>
        <add name="MongoDBMembershipProvider" connectionString="mongodb://localhost" database="ASPNETDB" collection="Users" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      </providers>
    </membership>
    <roleManager>
      <providers>
        <add name="MongoDBRoleProvider"  connectionString="mongodb://localhost" database="ASPNETDB" collection="Roles" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      </providers>
    </roleManager>
  </system.web>
</configuration>