<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="dbhost" value="leeloo.tgen.org" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="dbname" value="su2c_test" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="sitename" value="karmanos" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
  <system.web>
    <membership>
      <providers>
        <add name="MongoDBMembershipProvider" connectionString="mongodb://leeloo.tgen.org" database="su2c_test" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      </providers>
    </membership>
    <roleManager>
      <providers>
        <add name="MongoDBRoleProvider"  connectionString="mongodb://leeloo.tgen.org" database="su2c_test"  xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
      </providers>
    </roleManager>
  </system.web>
</configuration>