@using PatientPortal.Models;
@model IList<PatientViewModel>

<script src="assets/js/jquery.simplemodal.js"> </script>
<div>
<div class="button" id="addpatient"><a>Add Patient</a></div>
    <h2>Patients</h2>
    </div>
    @foreach (var viewmodel in Model)
    {
        <div class="patients" id="@viewmodel.Patient.ID"><img src="assets/images/karmanos.jpg" /><a>@viewmodel.Patient.ID</a></div>
    }

<div id="dialog" style="display: none"></div>
@section Scripts
{
    <script>
        $('.ui-widget-overlay').live('click touchstart',
               function () {
                   $("#dialog").dialog("close");
                   $("body").load("");
               });

        $(".patients").click(function (event, ui) {
            var idz = $(this).closest(".patients").attr("id");
            //load up 

                $.get("Home/PatientDetails", $.param({ id: idz }, true), function (data, status, XHR) {
                    $("#dialog").html(data);
                    $("#dialog").dialog({
                        modal: true, draggable: false, width: '800px', resizable: false, position: ['middle', 20]
                    });

                    $("#dialog").dialog('option', 'position', ['middle', 20]);

                });

        });

        $("#addpatient").click(function (event, ui) {
            //load up 

            $.get("Home/AddPatient", $.param({ }, true), function (data, status, XHR) {
                $("#dialog").html(data);
                $("#dialog").dialog({
                    modal: true, draggable: false, width: '800px', resizable: false, position: ['middle', 20]
                });

                $("#dialog").dialog('option', 'position', ['middle', 20]);

            });



        });


    </script>
    
}
   